 <!-- ASIDE MENU -->
      <aside class="page-aside" id="pageAside">
        <div class="aside-inner">
          <button class="aside-close" id="asideClose">
            <i class="fa-solid fa-xmark"></i>
          </button>

          <h3>Menu</h3>
          <nav class="aside-nav">
            <a href="/">Home</a>
            <a href="/store">Store</a>
            <a href="/orders">Orders</a>
            <a href="/profile">Profile</a>
            <a href="/contact">Contact</a>
          </nav>
        </div>
      </aside>