body{
  padding-bottom: 7vh;
}
/* =====================================================
   HERO IMAGE
   ===================================================== */

.hero-image {
  display: block;
  width: 94vw;
  margin-top: 3vw;
  margin-left: 3vw;
  aspect-ratio: 1536 / 1024;
  background: url("/assets/hero.png") center / cover no-repeat;
  border-radius: 14px;
}

/* =====================================================
   HERO BADGES (WE OFFER)
   ===================================================== */

#hero-badges {
  margin-top: 3vh;
  padding-left: 3vw;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

#hero-badges h1 {
  font-size: 3.5vh;
  letter-spacing: 3px;
  text-align: center;
  color: #414664;
  font-family: var(--font-title);
}

/* Badge Tile */

.badge-tile {
  display: flex;
  align-items: center;
  width: 88vw;
  padding: 1.5vh 3vw;
  border-radius: 12px;
  background-color: #f5f7f8;
}

.badge-icon {
  width: 15vw;
  margin-right: auto;
}

.badge-content h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--font-subtitle);
  margin-bottom: 6px;
  color: #5f443a;
}

.badge-content p {
  font-size: 13px;
  font-family: var(--font-body);
  line-height: 1.4;
  color: #555;
  width: 65vw;
}

/* =====================================================
   BRAND / STORY SECTION
   ===================================================== */

.brand {
  margin-top: 5vh;
}

.brand-inner {
  display: flex;
  margin-bottom: 6vh;
}

.brand-inner img {
  width: 35vw;
  aspect-ratio: 1608/2283;
  object-fit: contain;
}

.brand-content {
  width: 60vw;
  margin-left: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.brand h2 {
  width: 80vw;
  margin-left: 10vw;
  letter-spacing: 2px;
  margin-bottom: 3vh;
  font-size: 4vh;
  font-family: var(--font-title);
  font-weight: 600;
  text-align: center;
  color: #414664;
}

.brand-content p {
  max-width: 520px;
  margin-bottom: 24px;
  font-size: 15px;
  font-family: var(--font-body);
  line-height: 1.6;
  color: #555;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-spacing: 0.02em;
}

.brand-content .btn {
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 1vh;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-button);
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  background: linear-gradient(
    135deg,
    #f2c14e 0%,
    #d89a2b 45%,
    #b77f1f 100%
  );
  transition: background-color 0.2s ease;
}

.brand-content .btn:hover {
  background-color: #e0a800;
}

.brand-down {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3vh;
}

.brand-down img {
  width: 100%;
  height: auto;
}

/* =====================================================
   PRODUCTS SECTION
   ===================================================== */

.products {
  padding: 64px 10px;
  background: #ffffff;
}

.products-title {
  font-size: 4vh;
  letter-spacing: 2px;
  color: #414664;
  text-align: center;
  margin-bottom: 32px;
  font-family: var(--font-title);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

/* Product Card */

.product-card {
  display: block;
  
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh 0;
  aspect-ratio: 1 / 1;
}

.product-image img {
  width: 80%;
  padding-top: 2vh;
}

.product-info {
  padding: 14px 6px;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 2.5vh;
   display: -webkit-box;
  -webkit-line-clamp: 2;  
  line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: var(--font-subtitle);
  text-align: center;
  color: #5f443a;
  margin-bottom: 8px;
}

.product-info .weight {
  font-size: 13px;
  color: #666;
  margin-bottom: 6px;
}

.product-price {
  display: flex;
  gap: 24px;
}

.product-price .mrp {
  font-size: 18px;
  font-family: var(--font-title);
  color: #888;
  text-decoration: line-through;
  margin-left: 4px;
}

.product-price .price {
  font-size: 18px;
  font-family: var(--font-title);
  color: #414664;
  font-weight: 600;
  margin-right: 4px;
}

.product-info .discount {
  display: inline-block;
  position: absolute;
  top: 0;
  font-family: var(--font-button);
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: #cf4550;
  border-radius: 4px;
  left: 0;
}

/* -------------------
product stars
 */
/* RATING ROW */
.rating-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0 8px;
}

/* STAR WRAPPER */
.star-wrapper {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

/* GREY STARS */
.stars-empty i {
  color: #cfcfcf;
}

/* YELLOW OVERLAY */
.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%; /* controlled by JS */
}

.stars-filled i {
  color: #f4c430; /* honey yellow */
}

/* REVIEW COUNT */
.rating-count {
  font-size: 0.9rem;
  color: #5f443a;
  font-family: var(--font-button);
}


/* =====================================================
   PROCESS SECTION
   ===================================================== */

.process {
  padding: 64px 20px;
  background: #ffffff;
}

.process-title {
  font-size: 4vh;
  font-family: var(--font-title);
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 40px;
  color: #414664;
}

.process-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 32px;
}

.process-card {
  background: #f9f9f9;
  border-radius: 14px;
  overflow: hidden;
}

.process-image img {
  width: 100%;
  display: block;
}

.process-content {
  padding: 20px;
}

.process-content h3 {
  font-size: 2.5vh;
  margin-bottom: 10px;
  font-family: var(--font-subtitle);
  color: #5f443a;
}

.process-content p {
  font-size: 14px;
  font-family: var(--font-body);
  line-height: 1.6;
  color: #555;
}

/* ================
Order */

.bulk-section {
  padding: 20px 20px;
}

.bulk-inner {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.bulk-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TEXT */
.bulk-content h2 {
  font-family: 'Oswald', sans-serif;
  color: #414664;
  font-size: 4vh;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.bulk-subtext {
  font-family: 'inter', sans-serif;
  color: #4a3b2a;
  text-align: center;
  font-size: 2.1vh;
  line-height: 1.5;
  margin-bottom: 24px;
}

.bulk-points {
  list-style: none;
  padding: 0;
  margin-bottom: 22px;
}

.bulk-points li {
  font-family: 'Inter', sans-serif;
  color: #4a3b2a;
  margin-bottom: 8px;
  font-size: 0.95rem;
}

/* CTA */
.bulk-btn {
  display: inline-block;
  padding: 12px 22px;
  background: #d89a2b;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  text-decoration: none;
}

/* IMAGE */
.bulk-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* DESKTOP */
@media (min-width: 900px) {
  .bulk-inner {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}


@media (min-width: 768px) { 
  .hero-image {
  width: 88vw;
  margin-top: 5vw;
  margin-left: 6vw;
  border-radius: 20px;
}
#hero-badges{
  padding-left: 6vw;
}
.badge-tile {
  width: 82vw;
  padding: 1.5vh 3vw;
  border-radius: 20px;
}
.badge-content h3{
  font-size: 32px;
}
.badge-content p{
  font-size: 22px;
  width: 60vw;
}
.brand {
  margin-top: 8vh;
}
.brand-inner img {
  width: 30vw;
  aspect-ratio: 1327 / 2259;
  object-fit: contain;
}
.brand h2{
  font-size: 4vh;
}
.brand-content p{
  font-size: 24px;
}
.brand-content .btn{
  padding: 16px 32px;
  font-size: 23px;
}
.process-content p{
  font-size: 18px;
}
}
/* =====================================================
   DESKTOP LAYOUT
   ===================================================== */

@media (min-width: 1024px) {

  .page {
    display: flex;
    min-height: 100vh;
  }

  .page-main {
    flex: 1;
  }

  .page-aside {
    position: static;
    width: 320px;
    height: auto;
    box-shadow: none;
    transition: none;
  }

  .aside-overlay {
    display: none;
  }
}
