/* PAGE */
.profile-page {
  padding: 16px;
  background: #f5f7f8;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* PROFILE HEADER */
.profile-card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 6vw;
  align-items: center;
}

.profile-avatar img{
  width: 20vw;
}

/* INFO */
.profile-info h2 {
  font-family: 'Oswald', sans-serif;
  color: #414664;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.profile-info p {
  font-size: 1rem;
  margin-bottom: 3px;
  color: #4a3b2a;
}

/* SECTIONS */
.profile-section {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
}

.profile-section h3 {
  font-family: 'Oswald', sans-serif;
  color: #414664;
  letter-spacing: 1px;
  font-size: 2.8vh;
  margin-bottom: 10px;
}

/* ADDRESS */
.address-name {
  font-weight: 600;
  color: #4a3b2a;
  font-size: 2vh;
}

.link-btn{
  display: inline-block;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  background: linear-gradient(90deg, #ffcd76 0%, #ffb74d 50%, #ffb13b 100%);
  letter-spacing: 1px;
  color: #ffffff;
  padding: 1vh 3vw;
  border-radius: 12px;

  /* subtle depth */
  box-shadow: 0 2px 10px rgba(183, 28, 28, 0.35);
}
.address-text,
.address-landmark,
.address-empty {
  font-size: 1rem;
  color: #4a3b2a;
  margin-top: 4px;
}


/* LINKS */
.profile-links {
  list-style: none;
  padding: 0;
}

.profile-links li {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.profile-links li a {
  color: #4a3b2a;
  text-decoration: none;
  font-family: 'Inika', serif;
}

.profile-links li.logout a {
  color: #c0392b;
  border-bottom: none;
}
