.register-image{
  background: url("/assets/register.jpg")center/cover no-repeat;
  width: 100vw;
  position: relative;
  aspect-ratio: 2601/1793;
  box-shadow: 1px 1px 10px #424141c9;
}
/* black overlay */
.register-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.image-inner{
  position: absolute;
  z-index: 3;
  bottom: 10vh;
  width: 100vw;
}
.image-inner h2{
 color: white;
 letter-spacing: 2px;
 font-size: 3.5vh;
 text-align: center;
 font-family: var(--font-title);
}

.image-inner p{
 color: white;
 text-align: center;
 margin-top: 3vh;
 font-size: 2.5vh;
 font-family: var(--font-subtitle);
}

#title{
color: #414664;
font-family: var(--font-title);
font-size: 4vh;
letter-spacing: 3px;
margin-bottom: 3vh;
}

#registerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:2vh ;
}




/* INPUTS */
.input {
  width: 70vw;
  margin-bottom: 2vh;
  padding: 1.5vh 3vw;
  font-family: 'poppins', sans-serif;
  font-size: 0.95rem;
  color: #414664;
  background: #fff;
  border: 1.5px solid #414664;
  border-radius: 10px;
  outline: none;
  transition: ease 0.25s;
  box-shadow: 2.5px 3px 0 #5f443a;
}

.input::placeholder {
  color: #414664;
  opacity: 0.7;
}

.input:focus {
  box-shadow: 5.5px 7px 0 #414664;
}



/* PHONE (TEMP – you’ll change later) */
.phone-input {
  display: flex;
  gap: 8px;
}

.country-code {
  padding: 14px 12px;
  font-family: 'Inter', sans-serif;
  border: 1.5px solid #4a3b2a;
  border-radius: 10px;
  background: #fff;
}

/* BUTTON */
.auth-btn {
  margin-top: 10px;
  padding: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: #d89a2b;
  color: #fff;

  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* LOGIN SWITCH */
.auth-switch {
  margin-top: 14px;
  font-family: 'Inika', serif;
  color: #5f443a;
  font-size: 17px;
}

.auth-switch a {
  color: #414664;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

