<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoneyComb</title>

  <!-- Font Awesome kit -->
  <link rel="stylesheet" href="/icons/css/fontawesome.min.css">
  <link rel="stylesheet" href="/icons/css/solid.min.css">
  <link rel="stylesheet" href="/icons/css/brands.min.css">


  <!-- CSS -->
  <link rel="stylesheet" href="css/header.css" />
  <link rel="stylesheet" href="css/index.css" />

</head>

<body>

  <%- include('../partials/header') %>

  <main>
    <section>
     <img id="hero" src="assets/hero.png">
    </section>

    <section>

    </section>
  </main>

</body>

</html>