<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <%- include('../partials/link') %>
    <link rel="stylesheet" href="/css/register.css">


</head>

<body>



  <section class="auth-register">

    <div class="register-image">
      <div class="image-inner">
       <h2>Welcome to HoneyComb</h2>
      <p>Create your account and get started</p>
      </div>
      
    </div>


    <form id="registerForm" data-otp="register" method="POST" action="/register">
      <h2 id="title" >Register</h2>
      <!-- Full Name -->
        <input type="text" name="name" class="input" placeholder="Full name" required />

      <!-- Email -->
      
        <input type="email" name="email" class="input" placeholder="Email address" required />
      

      <!-- Phone -->
      <div class="field phone-field">
        <div class="phone-input">
          <span class="country-code">+91</span>
          <input type="tel" name="phone" class="input" placeholder="Phone number" maxlength="10" pattern="[0-9]{10}"
            required />
        </div>
      </div>

      <!-- Password -->
      
        <input type="password" name="password" class="input" placeholder="Password" required />
      

      <!-- Confirm Password -->
      
        <input type="password" name="confirmPassword" class="input" placeholder="Confirm password" required />
      

      <button type="submit" class="auth-btn">
        Create Account
      </button>

      <p class="auth-switch">
      Already have an account?
      <a href="/login">Login </a>
    </p>


    </form>

    
  </section>



</body>

</html>